<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notiflix@3.2.8/src/notiflix.min.css"
    />
    <style>
      ::-webkit-scrollbar {
        display: none;
      }
      body {
        background: linear-gradient(45deg, #a8ffeb, #b1b6ff);
      }

      .form-control_v {
        background-color: #ffffff66;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 5px 20px;
        border: 1px solid lightgrey;
      }

      form.profile table {
        width: 100%;
      }

      .logoutContainer {
        position: fixed;
        bottom: 10px;
        text-align: center;
      }

      .bottomfixedbuttons {
        position: fixed;
        z-index: 99;
        bottom: 10px;
        width: 100%;
        text-align: center;
      }

      .bottomfixedbuttons a {
        padding: 8px 10px;
        display: inline-block;
        background: red;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid;
        transition: 0.2s;
      }

      .bottomfixedbuttons a.vj-learnMore {
        background: yellow;
        color: black;
      }

      .bottomfixedbuttons a:hover {
        background: #f80;
        border: 2px dashed;
      }

      .captured-images {
        max-height: 50vh;
        overflow-y: scroll;
      }

      tr.unit-badge {
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.1s;
      }

      tr.unit-badge:hover {
        border-color: red;
      }

      .image-unit {
        position: relative;
        overflow: hidden;
      }

      .image-unit:before {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 0%;
        background: linear-gradient(0, red, #ff00008f);
        content: "x";
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8rem;
        -webkit-text-stroke: 1px white;
        color: transparent;
        border-radius: 5px;
      }

      .image-unit:hover:before {
        height: calc(100% + 90px);
        transition: 0.9s;
      }
    </style>
  </head>
  <body>
    <div
      class="modal fade"
      id="backToMapModal"
      tabindex="-1"
      aria-labelledby="backToMapModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3
              class="m-0 text-center w-100 text-success"
              id="exampleModalLabel"
            >
              Game On
            </h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="py-5">
              <p class="lead m-0 text-center">
                Click <span class="text-success"><b>Start Game</b></span> to
                play.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <button class="me-2 btn btn-info backBTN" data-id="restartgame">
                Start Game
              </button>
              <button class="me-2 btn btn-secondary" data-bs-dismiss="modal">
                Go Back to Profile
              </button>
              <button class="btn btn-warning backBTN" data-id="leaderboard">
                Leaderboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="body-container">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="form-container col-lg-4 col-md-6 col-12 col-sm-8">
          <form class="py-2 container profile rounded-2 bg-white">
            <h1
              class="m-0 text-center"
              style="
                color: transparent;
                -webkit-text-stroke: 1px #19873d;
                text-transform: uppercase;
                text-shadow: 2px 2px 10px #19873d;
              "
            >
              Profile
            </h1>
            <hr />
            <table>
              <tr>
                <th>Name</th>
                <td><%= user.name %></td>
              </tr>
              <tr>
                <th>Email</th>
                <td><%= user.email %></td>
              </tr>
            </table>
            <div class="link-container mt-3 text-center">
              <button
                class="btn btn-success ms-2"
                data-bs-toggle="modal"
                data-bs-target="#backToMapModal"
              >
                Back to Map</button
              ><% if (user.role.current=="admin") { %>
              <a href="/admin" class="btn btn-success ms-2">Admin</a>
              <% } %>
              <button
                class="ms-2 btn btn-info badge-info"
                data-bs-toggle="modal"
                data-bs-target="#bsModal"
              >
                Badges
              </button>
            </div>
            <hr />
            <div class="captured-images">
              <h3 class="text-center pb-2 border-bottom">Captured Images</h3>
              <% if (locals.user && user.capturedImages.length>0) { %>
              <div class="image-container row justify-content-center">
                <% user.capturedImages.forEach(image => { %> <%
                image.images.forEach(img=>{%>
                <div class="image-unit col-3" data-id="<%=img%>">
                  <img src="/static/image/<%= img %>" width="100%" />
                </div>
                <%}) %> <% }) %>
              </div>
              <% }else{ %>
              <div class="text-center alert alert-success opacity-50">
                No Image Captured!
              </div>
              <%}%>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottomfixedbuttons">
      <a href="/logout" class="vj-logout">Logout</a>
    </div>
    <div
      class="modal fade"
      id="bsModal"
      tabindex="-1"
      aria-labelledby="bsModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="bsModalTitle">
              Badge Collection
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <% if (userBadgeDetails && userBadgeDetails.length > 0) { %>
            <table class="table">
              <tbody>
                <% userBadgeDetails.forEach(badge => { %>
                <tr class="unit-badge" data-src="<%= badge.badge %>">
                  <td>
                    <img src="<%= badge.badge %>" width="100px" />
                  </td>
                  <td><%= badge.description %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
            <% } else { %>
            <div class="alert alert-danger">
              No Badges found in your Profile!
            </div>
            <% } %>

            <div class="mt-2 text-center">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      function customConfirm(message, imageUrl = null) {
        const options = {
          title: "Confirm",
          text: message,
          showCancelButton: true,
          confirmButtonText: "Yes",
          cancelButtonText: "No",
          reverseButtons: true,
        };

        // If an image is provided, use it instead of the default icon
        if (imageUrl) {
          options.imageUrl = imageUrl;
          options.imageWidth = 100;
          options.imageAlt = "capture delete";
        } else {
          options.icon = "question";
        }

        return Swal.fire(options).then((result) => result.isConfirmed);
      }

      const customAlert = (message, icon = "info") => {
        return Swal.fire({
          title: "Alert",
          text: message,
          icon: icon, // success, error, warning, info, question
        });
      };

      $(document).ready(() => {
        $(".image-unit").click(async function () {
          const imageId = $(this).data("id");
          if (!imageId)
            return customAlert("Please click on an image to delete it!");
          const confirmed = await customConfirm(
            "Are you sure you want to delete this image from your collection?",
            `/static/image/${imageId}`
          );
          if (confirmed) {
            fetch("/user/profile/capture/remove", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ imageId }), // Convert to JSON
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status === "success") {
                  customAlert("Image deleted!");
                  $(this).remove();
                } else {
                  customAlert(data.message || "Failed to delete image.");
                }
              })
              .catch((err) => {
                console.error("Error:", err);
                customAlert("Something went wrong.");
              });
          }
        });

        $(".backBTN").click(function () {
          const curID = $(this).data("id");
          let actTo = "leaderboard";
          if (curID == "restartgame") {
            actTo = "map";
          }
          let tgt = localStorage.lastMap;
          if (!tgt) tgt = $(this).data("target");
          window.location.href = `/${actTo}/${tgt}`;
        });
        $(".unit-badge").on("click", function () {
          if (confirm("Badge will be deleted forever! Are you sure?")) {
            const badgeId = $(this).data("src");
            $.post("/user/profile/badge/delete", { badge: badgeId }, (data) => {
              if (data && data.status == "success") {
                $(this).fadeOut(() => {
                  $(this).remove();
                });
              }
            });
          }
        });
        $("form.profile").submit(() => {
          return false;
        });
        $.post("/api/buttons", { name: "learn_more_btn" }, (data) => {
          $(".user-navbar").fadeIn();
          if (data) {
            const cstdta = data;
            $(".bottomfixedbuttons").append(
              `<a class='vj-learnMore' href='${cstdta.link}' target='_blank'>${cstdta.text}</a>`
            );
          }
        });
      });
    </script>
  </body>
</html>
